.headerContainer{
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgb(133, 120, 120);
    padding: 8px;
    z-index: 9999;
    box-sizing: border-box;
}
